<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper SYSTEM "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.gmall.manage.mapper.SpuSaleAttrMapper">
    <resultMap id="SpuSaleAttrMap" type="com.atguigu.gmall.bean.SpuSaleAttr" autoMapping="true">
        <id property="id" column="id"></id>
        <collection property="spuSaleAttrValueList"
        autoMapping="true" ofType="com.atguigu.gmall.bean.SpuSaleAttrValue">
            <result property="id" column="ssid"></result>
        </collection>
    </resultMap>
    <!-- public List<SpuSaleAttr> selectSpuSaleAttrList(long spuId);-->
    <select id="selectSpuSaleAttrList" resultMap="SpuSaleAttrMap">
        SELECT
            ssa.id,
            ssa.`spu_id`,
            ssa.`sale_attr_id`,
            ssa.`sale_attr_name`,
            ssav.`id` ssid,
            ssav.`sale_attr_value_name`
            FROM spu_sale_attr ssa
            INNER JOIN spu_sale_attr_value ssav
            ON ssa.`sale_attr_id` = ssav.`sale_attr_id`
            and ssa.spu_id = ssav.spu_id
            WHERE ssa.`spu_id` = #{spuId}
    </select>
</mapper>